/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/
$primary: #092E20;
$link-color: $primary;
$font-family-sans-serif: "Poppins", sans-serif;
$headings-font-family: "Poppins", sans-serif;
